{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Create New Comment</h1>
            <form enctype="multipart/form-data" action="#" method="post" class="form" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-success">Create</button>
                {% endbuttons %}
            </form>
        </div><!-- col-md -->
    </div><!-- row -->
</div><!-- container -->


{% endblock content %}
