{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1> Comments Index </h1>
    <ol>
        {% for comment in object_list %}
            <li class="well" >{{ comment.body }}</li>
        {% endfor %}
    </ol>
    {% buttons %}
    <a type="submit" class="btn btn-primary" href="{% url 'myapp:create' %}">Create Comment</a>
    {% endbuttons %}
  </div><!-- col-md -->
</div><!-- container -->

{% endblock content %}
